@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#app {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  padding-left: calc( 50% - 600px);
  padding-right: calc( 50% - 600px);
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ececec;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.header .logo {
  font-weight: 700;
  font-size: 30px;
  color: #f16d7f;
}

.header .btn-cart {
  position: relative;
  padding: 5px 20px;
  border-radius: 20px;
  border: 2px solid #f16d7f;
  color: #f16d7f;
  background: #fff;
}

.header .btn-cart:hover {
  color: #fff;
  background: #f16d7f;
}

.header .btn-cart:active {
  top: 1px;
  border-color: #94434e;
  background: #94434e;
}

.header .btn-cart, .header .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px 80px;
}

.products .product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
  padding: 15px;
  -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.16);
}

.products .desc {
  padding-top: 20px;
}

.products p {
  margin: 10px 0 20px;
}

.cart {
  position: relative;
}

.cart .cart-block {
  width: 370px;
  padding: 20px;
  position: absolute;
  top: 130%;
  right: 0;
  border-radius: 5px;
  border: 1px solid #ececec;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.16);
  background: #fff;
}

.cart .cart-block::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  top: -8px;
  right: 53px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 1px solid #ececec;
  border-top: 1px solid #ececec;
  background: #fff;
}

.cart .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart .cart-item:not(:last-child) {
  margin-bottom: 20px;
}

.cart .cart-item img {
  width: 100px;
  height: 100px;
}

.cart .product-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.cart .product-single-price {
  color: #474747;
  font-size: 0.5em;
}

.cart .product-desc {
  max-width: 150px;
}

.cart .product-quantity {
  margin-top: 15px;
  font-size: 0.75em;
}

.cart .right-block {
  text-align: right;
}

.search-form {
  position: relative;
  margin-right: 50px;
  display: inline-block;
}

.search-form .search-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  color: #000;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
}

.search-form .btn-search {
  background-color: transparent;
  border: none;
  color: #fafafa;
  font-size: 1.2em;
  position: absolute;
  bottom: 5px;
  right: 0;
  cursor: pointer;
}

.btn {
  margin-top: 5px;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  background-color: #f16d7f;
}

.btn:hover {
  background: #da8b96;
}

.btn:active {
  top: 1px;
  background: #94434e;
}

.buy-btn {
  width: 100%;
}

.invisible {
  display: none !important;
}

.products_empty {
  margin: 80px;
  text-align: center;
  font-size: 1.5em;
}

.footer {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
  color: #7a7a7a;
  background-color: #e6e6e6;
}

@media (max-width: 1250px) {
  .center {
    padding-left: 25px;
    padding-right: 25px;
  }
}
/*# sourceMappingURL=style.css.map */